<% content_for :back do %>
  <%= back_link(:assets, @estimate, @back_buttons_invoke_browser_back_behaviour) %>
<% end %>
<div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-l"><%= t(".caption") %></span>

  <%= form_for(@form,
               url: wizard_path,
               method: :put) do |form| %>
    <%= form.govuk_error_summary t("generic.error_summary_title") %>

    <%= form.govuk_check_boxes_fieldset :outgoings,
                                        legend: { text: t(".outgoings.legend"), size: "l", tag: "h1" },
                                        hint: { text: t(".outgoings.hint") } do %>
      <%= form.govuk_check_box :outgoings, "housing_payments",
                               label: { text: t(".housing_payments.label") },
                               hint: { text: t(".housing_payments.hint") },
                               link_errors: true do %>
        <%= render "shared/money_input",
                   form:,
                   field: :housing_payments,
                   width: 5,
                   label_text: t(".housing_payments.input") %>
      <% end %>

      <%= form.govuk_check_box_divider t("generic.check_box_divider") %>

      <%= form.govuk_check_box :outgoings, "none",
                               exclusive: true,
                               label: { text: t(".none.label") } %>
  <% end %>
  <%= form.govuk_submit t("generic.save_and_continue") %>
<% end %>
</div>
<%= render "shared/sidebar_with_date", links: { t("estimate_flow.outgoings.guidance_on_housing_payments") => t("estimate_flow.outgoings.link_to_guidance_on_housing_payments") } %>
