<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t(".efe_heading") %></h1>

    <p class="govuk-body"><%= t(".legal_aid_provider") %></p>

    <p class="govuk-body"><%= t(".non_provider_check_link_html") %></p>

    <h2 class="govuk-heading-m"><%= t(".before_start_heading") %></h2>

    <p class="govuk-body"><%= t(".required_information") %></p>

    <div class="govuk-list">
      <ul class="govuk-list govuk-list--bullet">
        <li><%= t(".item_1") %></li>
        <li><%= t(".item_2") %></li>
        <li><%= t(".item_3") %></li>
      </ul>
    </div>

    <%= link_to start_button_label(:start_button),
                url: "/status",
                class: "govuk-button govuk-button--start govuk-!-margin-top-2",
                role: "button",
                id: "start" %>

  </div>
  <div class="govuk-grid-column-one-third">

    <div class="govuk-header__container govuk-width-container"></div>

    <div class="govuk-!-padding-bottom-4"></div>

    <h3 class="govuk-heading-m"><%= t(".related_content_title") %></h3>
    <ul class="govuk-list">
      <li>
        <%= link_to t(".related_content_item_1"), "https://www.gov.uk/legal-aid", class: "govuk-link govuk-body govuk-!-font-size-16" %>
      </li>
      <li>
        <%= link_to t(".related_content_item_2"), "https://www.gov.uk/guidance/civil-legal-aid-means-testing", class: "govuk-link govuk-body govuk-!-font-size-16" %>
      </li>
    </ul>
  </div>
</div>
