<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
    <%= link_to t('generic.back'), previous_wizard_path, class: 'govuk-back-link' %>
    <%= form_for(@estimate,
                 url: wizard_path,
                 method: :put) do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_check_boxes_fieldset :monthly_incomes,
                                          legend: { text: t('.monthly_incomes.legend') },
                                          hint: { text: t('.monthly_incomes.hint') } do %>
        <%= form.govuk_check_box :monthly_incomes, 'employment_income',
                                 label: { text: t('.employment_income.label') },
                                 hint: { text: t('.employment_income.hint') },
                                 link_errors: true do %>
          <%= form.govuk_text_field :employment_income,
                                    width: 5,
                                    label: { text: t('.employment_income.input') },
                                    prefix_text: '&pound;'.html_safe %>
        <% end %>

        <%= form.govuk_check_box :monthly_incomes, 'friends_or_family',
                                 label: { text: t('.friends_or_family.label') },
                                 hint: { text: t(".friends_or_family.hint") } do %>
          <%= form.govuk_text_field :friends_or_family,
                                    width: 5,
                                    label: { text: t(".friends_or_family.input") },
                                    prefix_text: '&pound;'.html_safe %>
        <% end %>

        <%= form.govuk_check_box_divider %>

        <%= form.govuk_check_box :monthly_incomes, 'none', exclusive: true,
                                 label: { text: t(".none.label") } %>
      <% end %>
    <%= form.submit t('generic.submit'), role: "button", draggable: "false", class: "govuk-button" %>
  <% end %>
  </div>
</div>