<%= link_to t("generic.back"), previous_wizard_path, class: "govuk-back-link" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= t(".caption") %></span>
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>
    <%= form_for(@form,
                 url: wizard_path,
                 method: :put) do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_check_boxes_fieldset :monthly_incomes,
                                          legend: { text: t(".monthly_incomes.legend"), size: "l" },
                                          hint: { text: t(".monthly_incomes.hint") } do %>
        <%= form.govuk_check_box :monthly_incomes, "employment_income",
                                 label: { text: t(".employment_income.label") },
                                 hint: { text: t(".employment_income.hint") },
                                 link_errors: true do %>
          <%= render "money_input",
                     form:,
                     field: :employment_income,
                     width: 5,
                     label_text: t(".employment_income.input"),
                     hint_text: t(".employment_income.input_hint") %>
        <% end %>

        <%= form.govuk_check_box :monthly_incomes, "friends_or_family",
                                 label: { text: t(".friends_or_family.label") },
                                 hint: { text: t(".friends_or_family.hint") } do %>
          <%= render "money_input",
                     form:,
                     field: :friends_or_family,
                     width: 5,
                     label_text: t(".friends_or_family.input"),
                     hint_text: t(".friends_or_family.input_hint") %>
        <% end %>

        <%= form.govuk_check_box :monthly_incomes, "maintenance",
                                 label: { text: t(".maintenance.label") },
                                 hint: { text: t(".maintenance.hint") } do %>
          <%= render "money_input",
                     form:,
                     field: :maintenance,
                     width: 5,
                     label_text: t(".maintenance.input"),
                     hint_text: t(".maintenance.input_hint") %>
        <% end %>

        <%= form.govuk_check_box :monthly_incomes, "student_finance",
                                 label: { text: t(".student_finance.label") },
                                 hint: { text: t(".student_finance.hint") } do %>
          <%= render "money_input",
                     form:,
                     field: :student_finance,
                     width: 5,
                     label_text: t(".student_finance.input"),
                     hint_text: t(".student_finance.input_hint") %>
        <% end %>

        <%= form.govuk_check_box_divider %>

        <%= form.govuk_check_box :monthly_incomes, "none",
                                 exclusive: true,
                                 label: { text: t(".none.label") } %>
      <% end %>
    <%= form.govuk_submit %>
  <% end %>
  </div>
</div>
