<% content_for :back do %>
  <%= link_to t("generic.back"), previous_wizard_path, class: "govuk-back-link" %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= t(".caption") %></span>
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>
    <%= form_for(@form,
                 url: wizard_path,
                 method: :put) do |form| %>

      <%= form.govuk_error_summary t("generic.error_summary_title") %>

      <%= render "money_input",
                 form:,
                 field: :house_value,
                 width: 10,
                 label_text: t(".house_value.input"),
                 hint_text: t(".house_value.input_hint") %>
      <%= render "money_input",
                 form:,
                 field: :mortgage,
                 width: 10,
                 label_text: t(".mortgage.input"),
                 hint_text: t(".mortgage.input_hint") %>

      <%= form.govuk_number_field :percentage_owned,
                                  width: 3,
                                  suffix_text: "%",
                                  label: { text: t(".percentage_owned.input"), size: "m" },
                                  hint: { text: t(".percentage_owned.input_hint") } %>

      <%= form.govuk_submit t("generic.save_and_continue") %>
    <% end %>
  </div>
</div>
