<% content_for :back do %>
  <%= link_to t("generic.back"), wizard_path(previous_step_for(@estimate, :vehicle)), class: "govuk-back-link" %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= t(".caption") %></span>

    <%= form_for(@form,
                 url: wizard_path,
                 method: :put) do |form| %>

      <%= form.govuk_error_summary t("generic.error_summary_title") %>

      <%= form.govuk_collection_radio_buttons :vehicle_owned, yes_no_options, :first, :last,
                                              legend: { text: t(".vehicle_owned.legend"), size: "l" } %>

      <%= form.govuk_submit t("generic.save_and_continue") %>
    <% end %>
  </div>
</div>
